# An√°lise de Dados para Concess√£o de Cr√©dito

## Explica√ß√£o do Conjunto de Dados de Classifica√ß√£o de Cr√©dito

Este conjunto de dados oferece uma vis√£o abrangente das solicita√ß√µes de empr√©stimo, juntamente com atributos financeiros e demogr√°ficos chave que contribuem para a avalia√ß√£o da aprova√ß√£o ou rejei√ß√£o do empr√©stimo. Os dados incluem tanto caracter√≠sticas espec√≠ficas do solicitante quanto caracter√≠sticas espec√≠ficas do empr√©stimo, que podem ajudar a modelar a probabilidade de aprova√ß√£o do empr√©stimo. Abaixo est√° um resumo r√°pido::

- **üî¢ N√∫mero de Registros**: 45.000
- **üß© Total de Colunas**: 14 (Entre Categoricas e Continuas)

#### üìù Descri√ß√£o das Features:

| Coluna                               | Descri√ß√£o                                                 | Tipo de Dados    |
|--------------------------------------|-------------------------------------------------------------|--------------|
| üë§ **Idade**                     | Idade do Solicitante                                             | Float        |
| üöª **Sexo**                  | Sexo do Solicitante                                          | Categorical  |
| üéì **Grau_Escolaridade**               | Grau de Escolaridade                      | Categorica  |
| üí∞ **Salario**                  | Sal√°rio anual do Solicitante                       | Float        |
| üìÖ **Tempo_Emprego**                 | Anos de experi√™ncia profissional                              | Integer      |
| üè† **Moradia**          | Situa√ß√£o de Moradia           | Categorica  |
| üè¶ **Valor_Emprestimo**                      | Empr√©stimo Requisitado                                     | Float        |
| üéØ **Proposito**                    | Prop√≥sito do Empr√©stimo    | Categorica  |
| üìà **Taxa**                  | Taxa praticada para o empr√©stimo                        | Float        |
| üìä **Comprometimento_Renda**            | Loan amount as a percentage of annual income                | Float        |
| üí≥ **Score_Credito**                   | Score de Credito do Solicitante                                    | Integer      |
| ‚ùó **Inadimplencias_Anteriores**  | Indicador de Inadimplencias Anteriores (Sim/N√£o)                | Categorica  |
| ‚úÖ **Credito_Concedido**                    | Resultado da Concessao de Credito (1 = aprovada, 0 = reprovada)            | Integer       |

## 1. Importa√ß√£o e Configura√ß√£o

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

from sklearn.utils import resample

from sklearn.preprocessing import RobustScaler

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, roc_auc_score, accuracy_score, classification_report

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import cross_val_score

import warnings
warnings.filterwarnings("ignore")

## 2. Carregamento e Explora√ß√£o do Conjunto de Dados

- Objetivo: Entender a estrutura de dados, identificar padr√µes e detectar anomalias.

1. Visualiza√ß√£o da distribui√ß√£o de vari√°veis
2. Identifica√ß√£o de outliers
3. An√°lise de correla√ß√£o entre vari√°veis
4. Resumo estat√≠stico de vari√°veis
5. Visualiza√ß√£o de dados categ√≥ricos e num√©ricos

In [2]:
data = pd.read_csv('data/dados.csv', encoding='ISO-8859-1', sep=";")
data

,Idade,Sexo,Grau_Escolaridade,Salario,Tempo_Emprego,Moradia,Valor_Emprestimo,Proposito,Taxa,Comprometimento_Renda,Score_Credito,Inadimplencias_Anteriores,Credito_Concedido
0,22.0,feminino,Mestrado,71948.0,0,ALUGUEL,35000.0,PESSOAL,16.02,0.49,561,No,1
1,21.0,feminino,Segundo Grau,12282.0,0,PR√ìPRIA,1000.0,EDUCACIONAL,11.14,0.08,504,Yes,0
2,25.0,feminino,Segundo Grau,12438.0,3,HIPOTECA,5500.0,M√âDICO,12.87,0.44,635,No,1
3,23.0,feminino,Bacharel,79753.0,0,ALUGUEL,35000.0,M√âDICO,15.23,0.44,675,No,1
4,24.0,masculino,Mestrado,66135.0,1,ALUGUEL,35000.0,M√âDICO,14.27,0.53,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,masculino,Tecn√≥logo,47971.0,6,ALUGUEL,15000.0,M√âDICO,15.66,0.31,645,No,1
44996,37.0,feminino,Tecn√≥logo,65800.0,17,ALUGUEL,9000.0,REFORMA,14.07,0.14,621,No,1
44997,33.0,masculino,Tecn√≥logo,56942.0,7,ALUGUEL,2771.0,QUITA√á√ÉO,10.02,0.05,668,No,1
44998,29.0,masculino,Bacharel,33164.0,4,ALUGUEL,12000.0,EDUCACIONAL,13.23,0.36,604,No,1
44999,24.0,masculino,Segundo Grau,51609.0,1,ALUGUEL,6665.0,QUITA√á√ÉO,17.05,0.13,628,No,1